<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">

                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr >
                            <th style="text-align: center">ID</th>
                            <th>文章作者</th>
                            <th>文章标题</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        <tr th:each="article:${page.list}">
                            <td th:text="${article.id}"></td>
                            <td th:text="${article.author}"></td>
                            <td th:text="${article.title}"></td>
                            <td class="td-manage">
                                <!--<a title="查看" th:href="@{'/article/'+${article.id}}">-->
                                <a title="查看" th:value="${article.id}" onclick="xadmin.open2('查看文章','/article/',1200,800,null,this)">
                                    <i class="layui-icon">&#xe63c;</i>
                                </a>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <a shiro:hasPermission="D" title="删除" th:value="${article.id}" onclick=member_del(this)>
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <!--当前页数小于等于1时，上一页还是显示第一页的信息-->
                        <div th:if="${page.pageNum} le 1">
                            <a class="prev" th:href="@{/article/articleList(pn=1)}">&lt;&lt;</a>
                            <a class="num" th:href="@{/article/articleList(pn=${page.pageNum})}">上一页</a>
                            <span class="current" th:href="@{/article/articleList(pn=${page.pageNum})}" th:text="${page.pageNum}"></span>
                            <a class="num" th:if="${page.pageNum} lt ${page.pages}" th:href="@{/article/articleList(pn=${page.pageNum+1})}">下一页</a>
                            <a class="next" th:href="@{/article/articleList(pn=${page.pages})}">&gt;&gt;</a>
                        </div>
                        <!--当前页数大于等于最后一页时，点击下一页还是显示最尾页页的信息-->
                        <div th:if="${page.pageNum} != 1 and ${page.pageNum} ge ${page.pages}">
                            <a class="prev" th:href="@{/article/articleList(pn=1)}">&lt;&lt;</a>
                            <a class="num" th:href="@{/article/articleList(pn=${page.pageNum-1})}">上一页</a>
                            <span class="current" th:href="@{/article/articleList(pn=${page.pageNum})}" th:text="${page.pageNum}"></span>
                            <a class="num" th:href="@{/article/articleList(pn=${page.pageNum})}">下一页</a>
                            <a class="next" th:href="@{/article/articleList(pn=${page.pages})}">&gt;&gt;</a>
                        </div>
                        <!--非首尾页-->
                        <div th:if="${page.pageNum} gt 1 and ${page.pageNum} lt ${page.pages}">
                            <a class="prev" th:href="@{/article/articleList(pn=1)}">&lt;&lt;</a>
                            <a class="num" th:href="@{/article/articleList(pn=${page.pageNum-1})}">上一页</a>
                            <span class="current" th:href="@{/article/articleList(pn=${page.pageNum})}" th:text="${page.pageNum}"></span>
                            <a class="num" th:href="@{/article/articleList(pn=${page.pageNum+1})}">下一页</a>
                            <a class="next" th:href="@{/article/articleList(pn=${page.pages})}">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj) {
        //拿到元素的value（即id），传给异步删除的请求
        var id = obj.getAttribute('value');
        // console.log("///////////////////////////////////////////////"+id);
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            //在确认删除后，发送删除请求
            $.ajax({
                type: 'GET',
                url: "/article/deleteArticle",
                data: {'id':id},
            });
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</html>